<p id="notice"><%= notice %></p>
<div class="raffles">
  <h1>Rifas: <%= @raffles.size %></h1>
  <ol>
    <% @raffles.each do |raffle| %>
      <li class="raffle-stream-item"><%= render 'raffles/preview', raffle: raffle %></li>
    <% end %>
  </ol>
</div>
