<p id="notice"><%= notice %></p>
<div class="raffles">
  <h1>Rifas: <%= @raffles.size %></h1>
  <ol>
    <% @raffles.each do |raffle| %>
      <%= render 'raffles/preview', raffle: raffle %>
    <% end %>
  </ol>
</div>
