<h1 class="title">Rifapp</h1>
<p class="home-description">Gestor de Rifas</p>
<div class="home-image">
	<%= image_tag("raffle_ticket.jpg", :alt => "Rifapp") %>
</div>
<h4 class="created-by-title">Creado por</h4>
<ul class="creators">
	<li>Fernando Lizana</li>
	<li>Diego Fern&aacute;ndez</li>
</ul>