<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @creator.first_name + " " + @creator.last_name %> ha confirmado tu pago en su rifa, <%= @user.first_name %>!</h1>
  </body>
</html>