<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Has ganado el premio de <%= @prize %> en la rifa "<%= @title %>"!! Contáctate con <%= @creator %> para coordinar la entrega.</h1>
  </body>
</html>