// Place all the styles related to the raffles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-raffle-form {
  text-align: center;
}

.center {
	text-align: center;
}

.author-info {
	text-align: center;
}

.timestamp {
	text-align: center;
}

.prize {
	text-align: center;
}

.price {
	text-align: center;
}

.finish-date {
	text-align: center;
	margin-bottom: 20px;
}

.remaining_numbers {
	text-align: center;
}

.raffle-name {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.rifapp-actions {
	text-align: center;
}

.rifapp-actions > a, .rifapp-actions > form > input[type="submit"] {
  background-color: #ffc400;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #e51818;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.rifapp-actions > form > input[type="submit"] {
  display: inline-block;
  background-color: #ffc400;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #e51818;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
  margin-right: 45%;
  margin-left: 45%;
  text-decoration: underline;
}

.rifapp-actions > a:hover {
  background-color: #ce9e00;
  cursor: pointer;
  color: #a82929;
}

.rifapp-actions > form > input[type="submit"]:hover {
  background-color: #ce9e00;
  cursor: pointer;
  color: #a82929;
}

.raffle-stream-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.raffle-img {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.raffle-img > img {
	border-radius: 75px;
}

.sortear-btn {
  background-color: #ffc400;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #e51818;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 80px;
  margin-right: 45%;
  margin-left: 45%;
}